* {
    font-family: 'Arial', sans-serif;
}

html {
    background-color: #1F2937;
}

body,
.top-header,
.header-main-right ul,
.header-main-right ul li, 
.header-main-container, 
.header-main-left,
.header-main-right,
.header-image-crop,
.main,
.sign-up,
.sectionone,
.box-container,
.box-column,
.sectiontwo,
.sectionthree,
.call,
footer,
.footer-list {
    display: flex;
}

.sign-up,
.header-main-right,
.sectionone,
.box-container,
.box-column,
.sectionthree {
	justify-content: center;
	align-items: center;
}

body {
    height: 100vh;
    flex-direction: column;
}

.top-header {
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 3;
}

.header-main-container {
    margin: 0 15%;
    justify-content: center;
}

.banner {
    margin: 10px 0;
}

.header-main-left {
    flex-direction: column;
    margin-right: 50px;
    flex: 1;
    gap: 15px;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

.header-text {
    padding: 100px 0;
}

.header-title {
    margin-right: 100px;
    font-size: 48px;
    font-weight: bolder;
}

.header-subtext {
    font-size: 18px;
    color: #757679;
}

.sign-up {
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    transition: background-color .5s;
}

.sign-up:hover {
    background-color: #94bdff;
    cursor: pointer;
}

.header-main-right {
    flex-direction: column;
    flex: 1;
}

.header-main-right ul {
    height: 30px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.header-main-right ul li {
    padding: 20px 0;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    transition: padding 1s, background-color 1s, color 1s, transform 1s;
}

.header-main-right ul li:hover {
    background-color: #E5E7EB;
    color: #1F2937;
    transform: scale(1.2);
    padding: 20px;
}

.header-image-crop {
    height: 300px;
    width: fit-content;
    margin: 50px 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 1px #5b636d;
    justify-content: center;
    align-items: center;
}

.header-main-right img {
    height: 400px;
}

.main {
    flex-direction: column;
    flex: 2;
}

.sectionone {
    flex: 3;
    background-color: #F9FAF8;
    flex-direction: column;
}

.sectionone-header {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding: 40px;
}

.box-container {
    gap: 10%;
    padding: 2%
}

.box-column {
    width: 250px;
    flex-direction: column;
    gap: 5%;
}

.box {
    height: 250px;
    width: 250px;
    background-color: #3882F6;
    border: 5px solid #3882F6;
    overflow: hidden;
    border-radius: 10px;
    transition: opacity .5s;
}

.box:hover {
    opacity: .5;
}

.img-one {
    height: 600px;
    margin: -90% -18%;
}

.img-two {
    height: 450px;
    margin: -50% -20%;
}

.img-three {
    height: 450px;
    margin: -60% -10%
}

.img-four {
    height: 250px;
    margin: 0 -30%;
}

.box-text {
    text-align: center;
    font-size: 18px;
    color: #757679;
}

.sectiontwo {
    flex: 3;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.quote {
    font-size: 36px;
    padding: 0 30px;
    margin: 0 20%;
    color: #5b636d;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bolder;
    padding-left: 20%;
}

.sectionthree {
    flex: 2;
    background-color: #F9FAF8;
    flex-direction: column;
}

.call {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 3% 0;
    padding: 30px 30px;
    border-radius: 10px;
}

.call-header {
    font-weight: bolder;
}

.sectionthree .sign-up {
    border: 1px white solid;
    margin: 10px 0px 10px 20px;
}

footer {
    background-color: #1F2937;
    justify-content: center;
    padding: 20px;
    color: #F9FAF8;
    font-size: 12px;
    text-align: center;
}

.footer-list {
    list-style: none;
    gap: 100px;
}

/*
Colors
#1F2937 DARK
#E5E7EB GREY
#F9FAF8 LIGHT


*/